# Ignore Comsoser's configs
/Sem_3/vendor/
/Sem_3/composer.lock

/Sem_6/code/vendor/
/Sem_6/code/composer.lock
/Sem_7/code/vendor/
/Sem_7/code/composer.lock

# Ignore cache files
/Sem_6/code/cache
/Sem_7/code/cache

# Ignore .env
/Sem_6/.env
/Sem_7/.env

# ignore db files
/Sem_6/db
/Sem_7/db