<section class="user__info">
    <p>Список пользователей в хранилище</p>

    <ul id="navigation">
        {% for user in users %}
            <li>{{ user.getUserName() }}. День рождения: {{ user.getUserBirthday() | date('d.m.Y') }}</li>
        {% endfor %}
    </ul>
</section>

<section class="user__form">
    <p>Добавление пользователя</p>
    <form action="/user/save/" method="get">
        <label for="fname">Имя:</label>
        <input type="text" id="fname" name="name" placeholder="Введите имя" required>
        <label for="birth">День рождения:</label>
        <input type="text" id="birth" name="birthday" placeholder="Введите день рождения" required>
        <button type="submit">Отправить</button>
    </form>
</section>